@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

iframe{
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-right: -50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
  width: 177vh;
  height: 56vw;
  min-width: 100vw;
  min-height: 100vh;
}

header {
  position: absolute;
  z-index: 99;
  top: 0; right: 0;
  width: 25vw;
  height: auto;
}

header img{
  width: 100%;
}

header nav {
  margin-top: -5px; /* Hack para sumir com espaço entre divs */
  padding: 4%;
  background-color: rgba(112, 46, 0, 0.4);
  text-align: right;
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

header:hover .menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  /* this removes the transition delay so the menu will be visible while the other styles transition */
}

nav ul,
nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a{
  font-weight: 700;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 0 5%;
}

nav ul li a:hover{
  background-color: rgba(112, 46, 0, 0.7);
}

main {
  position: absolute;
  top:0; left:0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-width: 100vw; min-height: 100vh;
  overflow: hidden;
}

.close {
  position: absolute;
  width: 3vw; height: 3vw;
  top: 1.5vw; left: 1.5vw;
  z-index: 999;
  opacity: 0.6;
  transition: all .5s ease;
}
.close:hover {
  opacity: 1;
}


.csslider .close {
  top: -1.5vw; left: -1.5vw;
}

/* introdução */

.intro {
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
  padding: 15vh 25vw;
  text-align: center;
}

.intro .logo {
  width: 25vw;
  padding: 10vh 1vw 1vw 1vw;
}

.intro section {
  width: 25vw;
  margin: 0 auto;
  padding: 1vh 2.5vw;
  text-align: left;
}

.intro div {
  display: inline-block;
  clear: both;
  margin: 0 auto;
  padding: 1vh 2vw;
  margin-top: 5vh;
  background-color: #EA5B0C;
  font-weight: 700;
  cursor: pointer;
}
/* SVG */

.st0{opacity:0.7;fill:#E72B12;}
.st1{opacity:0.7;fill:#9D4701;}
.st2{opacity:0.7;fill:#FF883C;}
.st3{opacity:0.7;fill:#E75A12;}
.st4{opacity:0.7;fill:#E1A216;}
.st5{opacity:0.7;fill:#BF7901;}
.st6{opacity:0.7;fill:#9D7301;}
.st7{opacity:0.7;fill:#775201;}
.st8{opacity:0.7;fill:#9D4749;}
.st9{opacity:0.7;fill:#6E5A01;}
.st10{opacity:0.7;fill:#79474F;}
.st11{opacity:0.7;fill:#6A2F4E;}
.st12{opacity:0.7;fill:#B86258;}
.st13{opacity:0.7;fill:#9D3501;}
.st14{opacity:0.7;fill:#BA5A01;}
.st15{opacity:0.7;fill:#BB6372;}
.st16{opacity:0.7;fill:#EA5816;}
svg a:hover polygon{ opacity: 1; transition: all 0.5s ease; }
text {
  fill: #fff;
  font-weight: 700;
}

/* hacks */

#WIX_ADS {
  display: none;
}

.SITE_ROOT, .siteBackground, .siteBackgroundcurrent {
  top: 0 !important;
}
